<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- API 重写规则：将所有 /api/* 请求转发到 index.php -->
                <rule name="API Rewrite" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/api/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- 禁止访问敏感文件 -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="config" />
                    <add segment="core" />
                    <add segment="controllers" />
                    <add segment="models" />
                    <add segment="utils" />
                </hiddenSegments>
                <deniedUrlSequences>
                    <add sequence=".php" />
                </deniedUrlSequences>
            </requestFiltering>
        </security>
        
        <!-- MIME 类型（仅添加可能被阻止的） -->
        <staticContent>
            <clientCache cacheControlMode="UseCacheSettings" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
        
        <!-- 压缩 -->
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
            <scheme name="gzip" />
            <dynamicTypes>
                <add mimeType="application/json" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="text/javascript" enabled="true" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/css" enabled="true" />
                <add mimeType="text/javascript" enabled="true" />
            </staticTypes>
        </httpCompression>
        
        <!-- 默认文档 -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
