<?xml version="1.0" encoding="UTF-8"?>
<!--
    IIS URL Rewrite Configuration for iApp API
    Rewrites /api/* requests to index.php
-->
<configuration>
    <system.webServer>
        <!-- URL Rewrite Module -->
        <rewrite>
            <rules>
                <rule name="API Rewrite Rule" stopProcessing="true">
                    <match url="^api/(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Handler for PHP requests -->
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\Hostser\phpweb\php74\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>